commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_01_rerun_caches.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      cp /var/app/current/.env.example /var/app/current/.env
      php /var/app/current/artisan key:generate
      php /var/app/current/artisan config:cache
      php /var/app/current/artisan route:cache
      php /var/app/current/artisan view:cache